files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # source /opt/python/run/venv/bin/activate
      # source /var/app/venv/*/bin/activate
      cd /var/app/current
      python3 manage.py migrate
      python3 manage.py collectstatic --noinput
